/** Clicky-Stylesheet **/

.ref-count {
	position:relative;
}
.ref-count input[type='submit'] {
	display:none;
}

#ref-count-text-input {
	font: 13px/24px sans-serif;
	height: 24px;
	width: 24px;
	border: 0;
	padding: 0 3px 0 23px !important;
	position:absolute;
		top:0;
		right:0;
	margin: 0 !important;
	color: #ccc;
	text-shadow: #444 0 -1px 0;
	background-color: rgba(255,255,255,0);
	background-position: 3px 2px;
	background-repeat: no-repeat;
	outline: 0;
	cursor: pointer;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition-duration: 400ms;
	-webkit-transition-property: width,background;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 400ms;
	-moz-transition-property: width,background;
	-moz-transition-timing-function: ease;
	-o-transition-duration: 400ms;
	-o-transition-property: width,background;
	-o-transition-timing-function: ease;
}

#ref-count-text-input:focus{
	color: #555;
	width: 200px !important;
	background-color: rgba(255,255,255,0.9);
	cursor: text;
}