/** Clicky-Stylesheet **/

#ref-count{
	cursor:pointer;
}

.sent {
	background-color:blue !important;
}

#wp-admin-bar-ref-count{
	 -webkit-transition: background-color 0.25s ease-out;
  	-moz-transition: background-color 0.25s ease-out;
  	-ms-transition: background-color 0.25s ease-out;
  	-o-transition: background-color 0.25s ease-out;
  	transition: background-color 0.25s ease-out;
}